.footer > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 90px 0 45px 0;
}

.section {
  width: 100%;
  max-width: 640px;
  background-color: #1d1d1d;
  padding: 30px 14px;
  border-radius: 6px;
  color: #fff;
}

.title {
  text-align: center;
  font-size: 26px;
  margin-bottom: 24px;
}

.content {
  display: grid;
  gap: 14px;
  column-gap: 10px;
  padding: 14px 30px;
  grid-template-columns: 1fr;
  align-items: center;
  justify-content: center;
}

.item {
  display: flex;
  align-items: center;
  gap: 10px;
}

.link {
  margin: 30px 0;
  display: flex;
  align-items: center;
  gap: 12px;
  background-color: #6aad52;
  color: white;
  border-radius: 4px;
  padding: 8px 14px;

  &:hover {
    color: white;
    background-color: #5e9749;
  }
}

.copyText {
  margin-top: 45px;
}

@media (min-width: 640px) {
  .content {
    grid-template-columns: 1fr 1fr;
  }
}
