.submenu {
  padding-top: 80px;
}

.submenuIcon {
  cursor: pointer;
  display: none;
  gap: 14px;
  align-items: center;
  font-size: 18px;
  font-weight: bold;

  p {
    width: fit-content;
  }
}

.closeButton {
  background-color: white;
  border-radius: 100%;
  margin-bottom: 20px;
  width: 44px;

  .icon {
    width: 100%;
    height: 100%;
  }
}

.ul {
  display: none;
  gap: 24px;

  li a {
    padding: 5px 10px;
    background-color: #808080;
    color: white;
    border-radius: 4px;

    &:hover {
      background-color: #979797;
    }
  }
}

@media (min-width: 641px) {
  .ul {
    display: flex;
  }
}

@media (max-width: 640px) {
  .submenu {
    padding-top: 130px;
  }

  .submenuIcon {
    display: inline-flex;
  }

  .ul {
    z-index: 30;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #f0f0f0;
    width: 100%;
    height: 100%;

    &.open {
      display: flex;
    }

    li a {
      font-size: 20px;
    }
  }
}